.cardContainer {
    color: white;
}

.card {
    background: #373636;
    padding: 5% 7%;
    color: white;
    border-radius: 10px;
}

.runInCard {
    background: #a81818;
    color: white;
    border-radius: 10px;
}

.teamLabel {
    /* text-6xl text-center uppercase font-bold mb-5 , */
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.batsman {
    border: 0px solid black;
    width: 100%;
    background: #373636;
    padding: 3%;
    font-size: 3rem;
    border-radius: 10px;
    text-align: center;
}